{% extends 'base.html.twig' %}
{% block title %}Issue List{% endblock %}

{% block body %}
    <h1>Issues list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Publication</th>
                <th>Issue</th>
                <th>Cover</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.publication.name }}</td>
                <td>#{{ issue.number }} - {{ issue.datePublication|date('d-m-Y') }}</td>
                <td>{% if issue.cover %}
                        <img class="img-responsive" src="{{ asset(issue.coverWeb) }}">
                    {% endif %}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('issue_show', { 'id': issue.id }) }}">show</a>
                    <a class="btn btn-default" href="{{ path('issue_edit', { 'id': issue.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('issue_new') }}">New issue</a>
        </li>
    </ul>
{% endblock %}
